
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);
/* body styling to make content reach the edges of the window*/
body {
    margin:0;
    padding:0;
    font-family:"Merriweather", serif;
    color:rgb(117,95,94);
}

pre {
  font-family:"Merriweather", serif;
  color:rgb(117,95,94);
}

#background-pic {

  width:50%;
  height: 600px;
  margin: 0;
  background-repeat: no-repeat;

}

/*container for columns*/
.wrap {
    width:100%;
    margin:0 auto;
    display: block;
}

/*styling for main and side column*/

h2 {
    color:rgb(249,158,130);
}

.main {
    background: url("images/georgia.jpg");
    background-size: cover;
    background-position: center;
    width:50%;
    height: 100vh;
}

.sidebar {
    background:white;
    margin-left:5%;
    margin-right:5%;
    width:40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
  float: left;
}

.right {
  float: right;
}


@media(max-width:700px){
 .main {
     width: 0%;
 }
 .sidebar {
     width: 90%;
     float: none;
     /*background: url("images/georgia.jpg");*/
 }
}

nav {
    clear:both;
}

a {
  color:rgb(249,158,130);
  opacity: .8;
}

a:hover{
   color:rgb(249,158,130);
   opacity: 1;
}

a:link {
    text-decoration: none;
}

.light {
  opacity: .2;
  margin-left: 5px;
  margin-right: 5px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
