
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);
/* body styling to make content reach the edges of the window*/
body {
    margin:0;
    padding:0;
    font-family:"Merriweather", serif;
    color:rgb(117,95,94);
}

#background-pic {

  width:50%;
  height: 600px;
  margin: 0;
  background-repeat: no-repeat;

}

/*container for columns*/
.wrap {
    width:100%;
    margin:0 auto;
    display: block;
}

/*styling for main and side column*/

h2 {
    color:rgb(249,158,130);
}

#main {
    background: url("images/georgia.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width:50%;
}

#sidebar {
    background:white;
    float:right;
    margin-left:5%;
    margin-right:5%;
    width:40%;
    height: 450px;
    margin-top: 115px;
}

@media(max-width:700px){
 #main {
     width: 100%;
     float:none;
 }
 #sidebar {
     width: 100%;
     float: none;
 }
}

nav {
    clear:both;
}

a {
   color:rgb(117,95,94)
}

a:hover{
   color:rgb(249,158,130)
}

a:link {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
